<h1>This is the Add Page</h1>
<form action="/add" method="post">
    <input type="hidden" name="username" value=<%= name %>>
    <label for="song">Song:</label>
    <input type="text" name="song" id="song"><br><br>
    <label for="artist">Artist:</label>
    <input type="text" name="artist" id="artist"><br><br>
    <input type="submit" value="Submit">
</form>

