<h1>This is the Add Tag</h1>

<form action="/tag" method="POST">
    <input type="hidden" name="username" value=<%= name %>>
    <label for="song">Tag:</label>
    <input type="text" name="tag" id="tag"><br><br>
    <input type="submit" value="Submit">
</form>